body{
    font-family: 'Poppins', sans-serif;
    color: #23599b;
}
.nav-link{
    font-weight: 500;
    font-size: 20px; 
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #23599b;
}
.navbar-light .navbar-nav .nav-link{
    color: #23599b;
}
.nav-item{
    padding: 0 4px;
}
.container-fluid{
    padding-left: 20px;
    padding-right: 20px;
}
.bg-light {
    background-color: #ffffff!important;
    box-shadow: 0 0 5px 0px #0000005e;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #23599b;
}

.navbar-light .navbar-toggler{
    border: none;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(35,89,155)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar-brand{
    max-width: 90%;
    height: 40px;
}
.navbar-brand img{
    max-width: 100%;
    max-height: 100%;
}

.navbar{
    height: 62px;
}

#navbarSupportedContent{
    background: white;
}

.container-fluid.content{
    margin-top: 62px;
    padding: 36px 30px;
}

.content h1{
    font-size: 1.7em;
    text-align: center;
    font-weight: 500;
}

.content .author{
    margin-top: 30px;
    font-size: 1.3em;
    font-weight: 500;
}
.content a{
    color: #23599b;
}

.content .org{
    color: black;
    font-size: 0.9em;
    font-weight: 500;
}

.content .Desc{
    color: black;
    margin-top: 20px;
    font-size: 0.9em;
}

.loader{
    padding-top: 60px;
    display: none;
}

.loader img{
    display: block;
    margin: 0 auto;
}